
<div class="container justify-content-center ms-8 position-absolute top-50 start-50">
    <a href="/contact/add" class="btn btn-primary">Add Contact</a>
    </div>
<div class="d-flex justify-content-center">
    <table class="table mt-5" style="width: 50rem;">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        <% if (contacts.length < 1) { %>
            <h3>Maaf Data Tidak Ditemukan</h3>
        <% }else {  %>
            <% let i =1 %> 
                    <% contacts.forEach(element => { %>
                        <tr>
                            <td><%= i++%> </td>
                           <td><%= element.name %></td> 
                            <td><%= element.email  %></td>
                            <td><a href="/contact/<%= element.name  %> "><button type="button" class="btn btn-primary" ]
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          Details
                        </button></a></td>
                        </tr>
                    <% }) %> 
            <% } %> 
    </tbody>
    
  </table>
  
</div>
