

<div class="card mt-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> <%=  detail.name  %> </h5>
      <h6 class="card-subtitle mb-2 text-muted"><%=  detail.phone %></h6>
      <p class="card-text"><%=  detail.email  %></p>
      <a href="/contact" class="card-link">Back To Contact</a>
      
    </div>
  </div>